<component name="ArtifactManager">
  <artifact type="war" name="springcloud-fitness-api-order-service-impl:war">
    <output-path>$PROJECT_DIR$/springcloud-fitness-parent/springcloud-fitness-api-order-service-impl/target</output-path>
    <root id="archive" name="springcloud-fitness-api-order-service-impl.war">
      <element id="artifact" artifact-name="springcloud-fitness-api-order-service-impl:war exploded" />
    </root>
  </artifact>
</component>